<div class="nav">
    <h3 class="nav-title">Menu</h3>
    <a href="#" class="nav-close">
        <span class="hidden">Close</span>
    </a>
    <ul>
        <li class="nav-home {% if page.current == 'home' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}">Home</a></li>
        <li class="nav-author {% if page.current == 'author' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}author/lxd">Author</a></li>
        <li class="nav-en {% if page.url contains 'en' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}tag/en">English posts</a></li>
        <li class="nav-chs {% if page.url contains 'chs' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}tag/chs">中文 posts</a></li>
        <li class="nav-tech {% if page.url contains tech' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}tag/tech">Tech related posts</a></li>
        <li class="nav-novella {% if page.url contains novella' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}tag/novella">Novellas</a></li>
    </ul>
    <a class="subscribe-button icon-feed" href="{{ site.baseurl }}feed.xml">Subscribe</a>
</div>
<span class="nav-cover"></span>
